In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('data.csv')

In [3]:
print(df)

                        hlpi_name  year   hlpi  tot_hhs      own  own_wm  \
0                  All households  2008  allhh  1560859  1087580  574406
1                     Beneficiary  2008  benef   185965    71256   39405
2         Income quintile 1 (low)  2008  disq1   312376   191470   48424
3               Income quintile 2  2008  disq2   312333   196203   84171
4               Income quintile 3  2008  disq3   312240   217657  141318
..                            ...   ...    ...      ...      ...     ...
65         Expenditure quintile 3  2020  expq3   352564   213893  119637
66         Expenditure quintile 4  2020  expq4   350182   235256  141104
67  Expenditure quintile 5 (high)  2020  expq5   351328   288779  187838
68                          Māori  2020  maori   329588   156459  107753
69                 Superannuitant  2020  super   388013   314154   38270

    own_prop  own_wm_prop  prop_hhs   age  size  income  expenditure  \
0       69.7         36.8     100.0  35.9   2.7   46704        42394
1       38.3         21.2      11.9  29.9   2.6   23404        25270
2       61.3         15.5      20.0  40.0   2.3   16747        21145
3       62.8         26.9      20.0  34.7   2.8   31308        29855
4       69.7         45.3      20.0  31.5   3.0   49106        46561
..       ...          ...       ...   ...   ...     ...          ...
65      60.7         33.9      20.1  36.9   2.8   69779        57351
66      67.2         40.3      19.9  35.0   3.0   88944        83038
67      82.2         53.5      20.0  39.6   2.6  104277       123424
68      47.5         32.7      18.8  31.1   3.2   69581        54141
69      81.0          9.9      22.1  69.8   1.7   34712        34643

    eqv_income  eqv_exp
0        26869    25132
1        14258    15824
2        13402    14408
3        18917    18266
4        26870    24672
..         ...      ...
65       38889    33468
66       48929    45978
67       62718    71985
68       35075    29684
69       25077    27037

[70 rows x 15 columns]

In [4]:
df.describe()

,year,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
count,70.000000,7.000000e+01,7.000000e+01,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,2014.000000,4.125193e+05,2.689711e+05,129639.457143,63.505714,30.348571,24.985714,38.284286,2.625714,56694.785714,49267.128571,33451.500000,29510.471429
std,4.273274,3.491547e+05,2.385230e+05,128627.124758,15.145257,14.010004,21.102368,9.376345,0.350439,28921.315551,24008.560485,16004.914882,13307.606051
min,2008.000000,1.322150e+05,3.008000e+04,14220.000000,22.800000,5.100000,7.800000,27.300000,1.600000,16747.000000,16413.000000,13402.000000,11015.000000
25%,2011.000000,3.123460e+05,1.838408e+05,50636.750000,55.400000,15.850000,20.000000,34.850000,2.500000,33299.000000,29904.750000,21499.500000,19884.500000
50%,2014.000000,3.276340e+05,2.153065e+05,107909.000000,64.200000,32.650000,20.000000,36.600000,2.700000,52429.500000,44887.000000,28454.500000,25763.500000
75%,2017.000000,3.468958e+05,2.604148e+05,147563.000000,73.675000,42.050000,20.000000,38.650000,2.800000,69481.500000,58777.500000,38823.000000,33992.250000
max,2020.000000,1.756740e+06,1.125000e+06,574662.000000,88.100000,58.200000,100.000000,70.300000,3.200000,146672.000000,123424.000000,79607.000000,71985.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hlpi_name    70 non-null     object
 1   year         70 non-null     int64
 2   hlpi         70 non-null     object
 3   tot_hhs      70 non-null     int64
 4   own          70 non-null     int64
 5   own_wm       70 non-null     int64
 6   own_prop     70 non-null     float64
 7   own_wm_prop  70 non-null     float64
 8   prop_hhs     70 non-null     float64
 9   age          70 non-null     float64
 10  size         70 non-null     float64
 11  income       70 non-null     int64
 12  expenditure  70 non-null     int64
 13  eqv_income   70 non-null     int64
 14  eqv_exp      70 non-null     int64
dtypes: float64(5), int64(8), object(2)
memory usage: 7.7+ KB

In [6]:
#displays first five rows of the dataset
df.head()

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672

In [7]:
#cleaning
df.isnull().sum()

hlpi_name      0
year           0
hlpi           0
tot_hhs        0
own            0
own_wm         0
own_prop       0
own_wm_prop    0
prop_hhs       0
age            0
size           0
income         0
expenditure    0
eqv_income     0
eqv_exp        0
dtype: int64

In [8]:
#to replace missing values
data1=df.fillna(method="ffill")

In [9]:
#To check whether the valuies are replaced
data1.isnull().sum()

hlpi_name      0
year           0
hlpi           0
tot_hhs        0
own            0
own_wm         0
own_prop       0
own_wm_prop    0
prop_hhs       0
age            0
size           0
income         0
expenditure    0
eqv_income     0
eqv_exp        0
dtype: int64

In [10]:
df.head()

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672

In [11]:
#reduction

cols=['own','year']
df = df.drop(cols, axis=1)

In [12]:
print(df)

                        hlpi_name   hlpi  tot_hhs  own_wm  own_prop  \
0                  All households  allhh  1560859  574406      69.7
1                     Beneficiary  benef   185965   39405      38.3
2         Income quintile 1 (low)  disq1   312376   48424      61.3
3               Income quintile 2  disq2   312333   84171      62.8
4               Income quintile 3  disq3   312240  141318      69.7
..                            ...    ...      ...     ...       ...
65         Expenditure quintile 3  expq3   352564  119637      60.7
66         Expenditure quintile 4  expq4   350182  141104      67.2
67  Expenditure quintile 5 (high)  expq5   351328  187838      82.2
68                          Māori  maori   329588  107753      47.5
69                 Superannuitant  super   388013   38270      81.0

    own_wm_prop  prop_hhs   age  size  income  expenditure  eqv_income  \
0          36.8     100.0  35.9   2.7   46704        42394       26869
1          21.2      11.9  29.9   2.6   23404        25270       14258
2          15.5      20.0  40.0   2.3   16747        21145       13402
3          26.9      20.0  34.7   2.8   31308        29855       18917
4          45.3      20.0  31.5   3.0   49106        46561       26870
..          ...       ...   ...   ...     ...          ...         ...
65         33.9      20.1  36.9   2.8   69779        57351       38889
66         40.3      19.9  35.0   3.0   88944        83038       48929
67         53.5      20.0  39.6   2.6  104277       123424       62718
68         32.7      18.8  31.1   3.2   69581        54141       35075
69          9.9      22.1  69.8   1.7   34712        34643       25077

    eqv_exp
0     25132
1     15824
2     14408
3     18266
4     24672
..      ...
65    33468
66    45978
67    71985
68    29684
69    27037

[70 rows x 13 columns]

In [13]:
#Transformation

data1.head()

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672

In [14]:
dummy=pd.get_dummies(data1['own'])

In [15]:
dummy

,30080,45834,55723,56665,71256,115312,119963,127885,146979,156459,...,286886,288779,314154,315121,329269,1048164,1087580,1090671,1118600,1125000
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
68,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
69,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [16]:
data2=pd.concat((data1,dummy),axis=1)

In [17]:
data2=data2.drop(['own'],axis=1)

In [18]:
data2.head()

,hlpi_name,year,hlpi,tot_hhs,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,...,286886,288779,314154,315121,329269,1048164,1087580,1090671,1118600,1125000
0,All households,2008,allhh,1560859,574406,69.7,36.8,100.0,35.9,2.7,...,0,0,0,0,0,0,1,0,0,0
1,Beneficiary,2008,benef,185965,39405,38.3,21.2,11.9,29.9,2.6,...,0,0,0,0,0,0,0,0,0,0
2,Income quintile 1 (low),2008,disq1,312376,48424,61.3,15.5,20.0,40.0,2.3,...,0,0,0,0,0,0,0,0,0,0
3,Income quintile 2,2008,disq2,312333,84171,62.8,26.9,20.0,34.7,2.8,...,0,0,0,0,0,0,0,0,0,0
4,Income quintile 3,2008,disq3,312240,141318,69.7,45.3,20.0,31.5,3.0,...,0,0,0,0,0,0,0,0,0,0